<footer>
    <p>Behat Viewer &copy; <a href="http://www.jubianchi.fr" target="_blank">jubianchi</a> 2012</p>

    <p>
        <a href="http://behat-viewer.jubianchi.fr" target="_blank">Blog</a> -
        <a href="https://github.com/jubianchi/BehatViewerBundle/issues" target="_blank">Issues</a> -
        <a href="https://github.com/jubianchi/BehatViewerBundle/wiki" target="_blank">Wiki</a>
    </p>
</footer>
