{% extends 'BehatViewerBundle::layout.form.html.twig' %}

{% block notification %}
    {% if success %}
        <div class="alert alert-block alert-success" data-rel="notification" data-type="success">Your password was successfully saved.</div>
    {% endif %}
{% endblock %}

{% block width %}30%{% endblock %}
{% block action %}{{ path('behatviewer.password') }}{% endblock %}

{% block title %}
    <img data-rel="avatar" data-size="48" class="gravatar" src="{{ app.user.email|gravatar(48)}}" />
    Change your password
{% endblock %}

{% block extrabuttons %}
    <a class="pull-left btn" href="{{ path('behatviewer.profile') }}">&laquo; Back to profile</a>
{% endblock %}
