{% extends 'BehatViewerBundle::layout.form.html.twig' %}

{% block notification %}
    {% if success %}
        <div class="alert alert-block alert-success" data-rel="notification" data-type="success">Your profile was successfully saved.</div>
    {% endif %}
{% endblock %}

{% block width %}30%{% endblock %}
{% block action %}{{ path('behatviewer.profile') }}{% endblock %}

{%block title %}
    <img data-rel="avatar" data-size="48" class="gravatar" src="{{ app.user.email|gravatar(48)}}" />
    Your profile : <span data-rel="username">{{ app.user.username }}</span>
{% endblock %}

{% block after %}
    <div class="control-group">
        <div class="control-label"><label>Change password</label></div>
        <div class="controls">
            <a class="btn" href="{{ path('behatviewer.password') }}">Click here to change yout password &raquo;</a>
        </div>
    </div>
{% endblock %}
