{% extends 'BehatViewerBundle::layout.table.html.twig' %}

{% if not items and build %}
    {% set items = build.features %}
{% endif %}

{% block title %}
    <h1 class="page-header">
        {% if not tag is defined %}
            Features for {{ project.name }}
        {% else %}
            Tag {{ tag.name }}
        {% endif %}

        {% if build %}
            <small>(#{{ build.id }} Built <span data-rel="moment">{{ build.date|date("Y-m-d \\a\\t H:i:s")}}</span>)</small>
        {% endif %}

        {% include 'BehatViewerBundle::Default/switcher.html.twig' %}
    </h1>
{% endblock %}

{% block sort %}{sortlist: [[1,0]]}{% endblock %}

{% block thead %}
    <tr>
        <th>Name</th>
        <th>Completion</th>
        <th>Progress</th>
        <th>Details</th>
        <th class="{sorter: false}">Action</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for feature in items %}
        {% include 'BehatViewerBundle::Default/feature-row.html.twig' %}
    {% endfor %}
{% endblock %}

{% block alert %}
    <div class="alert alert-block alert-info">
        <h4 class="alert-heading">No feature</h4>

        <p>This project has not been built yet. Click on the build button to launch test suite.</p>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        JSC.require(
            ['jquery.metadata', 'jquery.tablesorter', 'behat-viewer/home-list'],
            function() {
                $(function() {
                    app.controller.current(new HomeListController('#container'));
                });
            }
        );
    </script>
{% endblock %}
