<div class="pull-right">
  <div class="btn-group">
    <button data-toggle="dropdown" class="btn dropdown-toggle btn-icon">
      <i class="icon-eye-open"></i> <span>Switch view</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a data-action="switch" href="{{ path("behatviewer.homepagelist") }}" title="List view"><i class="icon-tasks"></i> List</a></li>
      <li><a data-action="switch" href="{{ path("behatviewer.homepagethumb") }}" title="Dashboard"><i class="icon-dashboard"></i> Dashboard</a></li>
    </ul>
  </div>
</div>