{% extends 'BehatViewerBundle::layout.html.twig' %}

{% block container %}
<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% for url, section in sections %}
                    <li class="nav-header">{{ section['label'] }}</li>

                    {% for link, page in section['links'] %}
                        <li>
                            <a data-action="navig" href="{{ path('behatviewer.help', {'section': url, 'page': page }) }}">
                                {{ link }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="help" class="span9">
        {{ help|markdown }}
    </div>
</div>
{% endblock %}

{% block javascript %}
    {% if xhr %}
        <script type="text/javascript">
            JSC.require(
                    'behat-viewer/help',
                    function() {
                        app.controller.current(new HelpController('#container'));
                    }
            );
        </script>
    {% endif %}
{% endblock %}

